<div class="field" data-type="{{ attributes.type }}" data-name="{{ attributes.name }}">
    {% include "./partials/label.njk" %}
    {% include "./partials/description.njk" %}
    <select class="{{ html.className | join(' ') }}" {% for key, value in attributes %}{{ key }}="{{ value }}" {% endfor %}>
        {% for name, value in options %}
            <option name="{{ name }}">{{ value }}</option>
        {% endfor %}
    </select>
</div>